<h1> Update <%= @library.name.split(" ").each{|word| word.capitalize}.join(" ") %> </h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>

    <%= form_for(@library) do |f| %>
    	<div class='form-group'>
      	<%= f.label :name %>
      	<%= f.text_field :name, class: 'form-control', autofocus: true %>

      	<%= f.label :floor_count %>
      	<%= f.text_field :floor_count, class: 'form-control', autofocus: true  %>

      	<%= f.label :floor_area %>
      	<%= f.text_field :floor_area, class: 'form-control', autofocus: true %>
      </div>
      <%= f.submit 'Save Updates', class: 'btn btn-block btn-primary' %>
    <% end %>

  </div>
</div>
