<div class='container'>
  <h1> Libraries</h1>
  <hr>
    <% @libraries.each do |library| %>
      <h3><%= library.name %> </h3>
      <%= link_to "View More Information", library_path(library) %>
      <br>
      <br>
      <% if current_user %>
        <% if current_user.member?(library) %>
          <h5> You are already a member of <%= library.name %>  </h5>
        <% else %>
          <%= button_to "Join", library_users_path(library) %>
        <% end %>
      <% end %>
      <br>
    <%end %>

  <br>
	<%= link_to 'Add New Library', new_library_path %>
</div>
