<div class="container">
  <h3><strong>
    <%= @library.name.split(" ").each{|word| word.capitalize}.join(" ") %></strong></h3>
  <hr>
  <p><strong>Floor Count:</strong> <%= @library.floor_count %></p>
  <p><strong>Floor Area:</strong> <%= @library.floor_area %></p>
	<p class="small text-muted">Created on <%= (@library.created_at).strftime("%m/%d/%Y") %></p>
  <br>

  <%= link_to "Edit", edit_library_path(@library), class: "btn btn-primary" %>
  <br>
  <br>
  <%= button_to "Remove", @library, method: :delete, data: {confirm: "You Sure?"}  %>
</div>
